
<body>
    <div class="container mt-4">
        <!-- Advertisement Banner -->
        <div class="row mb-4">
            <div class="col-12">
                <img src="https://placehold.co/1200x300/png" class="img-fluid w-100" alt="Advertisement Banner">
            </div>
        </div>

        <!-- Now Showing Movies -->
        <div class="row pb-3">
            <h5 class="text-center">Now Showing</h5>
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card  rounded">
                            <img src="https://placehold.co/500x700/png" class="card-img-top rounded" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card   rounded">
                            <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                            <div class="card-body pb-0">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Movie Title</p>
                                <p class="card-title text-warning text-center">by <b>Director Name</b></p>
                                <p class="text-dark text-opacity-75 text-center mb-0">List Price: <span class="text-decoration-line-through">$XX.XX</span></p>
                                <p class="text-dark text-opacity-75 text-center">As low as: <span>$XX.XX</span></p>
                            </div>
                            <div>
                                <a href="#" class="btn btn-primary bg-gradient border-0 form-control">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card   rounded">
                            <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                            <div class="card-body pb-0">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Movie Title</p>
                                <p class="card-title text-warning text-center">by <b>Director Name</b></p>
                                <p class="text-dark text-opacity-75 text-center mb-0">List Price: <span class="text-decoration-line-through">$XX.XX</span></p>
                                <p class="text-dark text-opacity-75 text-center">As low as: <span>$XX.XX</span></p>
                            </div>
                            <div>
                                <a href="#" class="btn btn-primary bg-gradient border-0 form-control">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card   rounded">
                            <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                            <div class="card-body pb-0">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Movie Title</p>
                                <p class="card-title text-warning text-center">by <b>Director Name</b></p>
                                <p class="text-dark text-opacity-75 text-center mb-0">List Price: <span class="text-decoration-line-through">$XX.XX</span></p>
                                <p class="text-dark text-opacity-75 text-center">As low as: <span>$XX.XX</span></p>
                            </div>
                            <div>
                                <a href="#" class="btn btn-primary bg-gradient border-0 form-control">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- Upcoming Movies -->
        <div class="row pb-3">
            <h5 class="text-center">Now Showing</h5>
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card  rounded">
                            <img src="https://placehold.co/500x700/png" class="card-img-top rounded" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card   rounded">
                            <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                            <div class="card-body pb-0">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Movie Title</p>
                                <p class="card-title text-warning text-center">by <b>Director Name</b></p>
                                <p class="text-dark text-opacity-75 text-center mb-0">List Price: <span class="text-decoration-line-through">$XX.XX</span></p>
                                <p class="text-dark text-opacity-75 text-center">As low as: <span>$XX.XX</span></p>
                            </div>
                            <div>
                                <a href="#" class="btn btn-primary bg-gradient border-0 form-control">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card   rounded">
                            <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                            <div class="card-body pb-0">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Movie Title</p>
                                <p class="card-title text-warning text-center">by <b>Director Name</b></p>
                                <p class="text-dark text-opacity-75 text-center mb-0">List Price: <span class="text-decoration-line-through">$XX.XX</span></p>
                                <p class="text-dark text-opacity-75 text-center">As low as: <span>$XX.XX</span></p>
                            </div>
                            <div>
                                <a href="#" class="btn btn-primary bg-gradient border-0 form-control">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card   rounded">
                            <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                            <div class="card-body pb-0">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">Movie Title</p>
                                <p class="card-title text-warning text-center">by <b>Director Name</b></p>
                                <p class="text-dark text-opacity-75 text-center mb-0">List Price: <span class="text-decoration-line-through">$XX.XX</span></p>
                                <p class="text-dark text-opacity-75 text-center">As low as: <span>$XX.XX</span></p>
                            </div>
                            <div>
                                <a href="#" class="btn btn-primary bg-gradient border-0 form-control">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Coupons -->
        <div class="row mb-4">
            <div class="col-12">
                <img src="https://placehold.co/1200x300/png" class="img-fluid w-100" alt="Advertisement Banner">
            </div>
        </div>

    <style>
        .dot {
            height: 10px;
            width: 10px;
            margin: 5px;
            background-color: gray;
            border-radius: 50%;
            display: inline-block;
        }
    </style>
</body>
