@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div >
@if (SignInManager.IsSignedIn(User))
{

        <div class="nav_menu">
            <div class="dropdown" id="dropdown">
                <div class="dropdown_profile">
                    <div class="dropdown_names">
                        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                    </div>
                    <div class="dropdown_image">
                        <img src="images/ava1.jpg" alt="image">
                    </div>
                </div>

                <div class="dropdown_list">
                    <a href="profile.html" class="dropdown_link">
                        <i class="fa-regular fa-user"></i>
                        <span>Profile</span>
                    </a>
                    <a href="#" class="dropdown_link">
                        <i class="fa-solid fa-gift"></i>
                        <span>Points</span>
                    </a>
                    <a href="#" class="dropdown_link">
                        <i class="fa-solid fa-money-bill-wave"></i>
                        <span>Transaction History</span>
                    </a>

                    @* @if(!User.Claims.Any()) *@
                    @* { *@
                    @*     <a href="login.html" class="dropdown_link"> *@
                    @*         <i class="fa-solid fa-right-to-bracket"></i> *@
                    @*         <span id="form-open">Log In</span> *@
                    @*     </a> *@
                    @* } *@
                  
                    <div class="dropdown_link">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>




       
  
}
else
{
        @* <li class=""> *@
        @*     <a class="" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a> *@
        @* </li> *@
        <li class="">
            <a class="" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>

       

}
</div>













