@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
}

<h1>@ViewData["Title"]</h1>

@if (Model.DisplayConfirmAccountLink)
{
    <p>Please check your email to confirm your account.</p>

   
}
<form method="post">
    <input type="hidden" name="emailHolder" value="@Model.Email" />
    <button type="submit" class="btn btn-outline-primary">Resend Email Confirmation</button>
</form>